{% extends 'account/base_for_account.html.twig' %}

{% block title %}Семейное положение{% endblock %}

{% block content %}
    <h2>Семейное положение</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Название семейного положения</th>
                <td>{{ family_status.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('family_status_edit', {'id': family_status.id}) }}">Изменить</a>

    {{ include('family_status/_delete_form.html.twig') }}
{% endblock %}
