{% extends 'account/base_for_account.html.twig' %}

{% block title %}Формы оплаты труда{% endblock %}

{% block content %}
    <h2>Форма оплаты труда</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Название формы оплаты труда</th>
                <td>{{ payment_form.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payment_form_edit', {'id': payment_form.id}) }}">Изменить</a>

    {{ include('payment_form/_delete_form.html.twig') }}
{% endblock %}
