{% extends 'base.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;">

    <h1>Личный кабинет</h1>

    <p> Имя пользователя: {{ user.name }} </p>

    <p> Почта: {{ user.email }} </p>

    <p> Дата рождения: {{ user.getBirthDate }} </p>

    <p> Семейное положение: {{ user.getFamilyStatus }} </p>

    <button type="submit" class="btn btn-info">Изменить</button>

{% endblock %}