{% extends 'account/base_for_account.html.twig' %}

{% block title %}Мои организации{% endblock %}

{% block content %}
<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;"
     xmlns="http://www.w3.org/1999/html">
    <h2>Изменить организацию</h2>

    {{ include('organization/_form.html.twig', {'button_label': 'Сохранить'}) }}

    {{ include('organization/_delete_form.html.twig') }}
{% endblock %}