{% extends 'account/base_for_account.html.twig' %}

{% block title %}Создать организацию{% endblock %}

{% block content %}
<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;"
     xmlns="http://www.w3.org/1999/html">
    <h2>Создать орагнизацию</h2>

    {{ include('organization/_form.html.twig') }}

{% endblock %}