{% extends 'base.html.twig' %}

{% block title %}Edit EmploymentType{% endblock %}

{% block body %}
    <h1>Edit EmploymentType</h1>

    {{ include('employment_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('employment_type_index') }}">back to list</a>

    {{ include('employment_type/_delete_form.html.twig') }}
{% endblock %}
