{% extends 'account/base_for_account.html.twig' %}

{% block title %}Виды деятельности{% endblock %}

{% block content %}
    <h2>Вид деятельности</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Название вида деятельности</th>
                <td>{{ employment_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employment_type_edit', {'id': employment_type.id}) }}">Изменить</a>

    {{ include('employment_type/_delete_form.html.twig') }}
{% endblock %}
