{#templates/default/index.html.twig#}
{% extends 'base.html.twig' %}
{% block title %}Поиск работы{% endblock %}
{% block body %}
    <p>у меня будут 2 страницы: поиск резюме и поиск вакансий</p>

    <p>на каждой странице сначала будут фильтры</p>

    <p>потом будет кнопка "Найти"</p>

    <p>потом будут результаты поиска</p>

{% endblock %}