{% extends 'account/base_for_account.html.twig' %}

{% block title %}Создать вакансию{% endblock %}

{% block content %}
<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;"
     xmlns="http://www.w3.org/1999/html">
    <h2>Создать вакансию</h2>

    {{ include('vacancy/_form.html.twig') }}

{% endblock %}