{% extends 'base.html.twig' %}

{% block title %}Поиск работы{% endblock %}

{% block body %}

<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;">

    <h2>Личные данные</h2>
    <p> Имя пользователя: {{ user.name }} </p>

    <p> Почта: {{ user.email }} </p>

    <p> Дата рождения: {{ user.getStringBirthDate }} </p>

    <p> Семейное положение: {{ user.getFamilyStatus }} </p>

</div>

    <input type="button" onclick="history.back();" value="Назад"/>

{% endblock %}